
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<a asp-action="Index" asp-controller="LOV" asp-area="Admin">View LOV(s)</a>
<a asp-action="Index" asp-controller="Branch" asp-area="Admin">View Branches</a>
<a asp-action="Index" asp-controller="LHCEmployee" asp-area="Admin">View Employee</a>
<a asp-action="Index" asp-controller="LHCEmployee" asp-area="Admin">View Employee</a>
