@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
.breadcrumb-item+.breadcrumb-item::before
{
content:"➜"
}</style>
<div style="background-image">
    <h5>Steps to enter detail</h5>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Register</li>
        <li class="breadcrumb-item">Verify your Mobile No.</li>
        <li class="breadcrumb-item">Fill Personal Detail.</li>
        <li class="breadcrumb-item">Fill Education Detail.</li>
        <li class="breadcrumb-item">Fill Previous Service Detail (if any).</li>
        <li class="breadcrumb-item">Fill Appointment Detail.</li>
    </ul>
</div>
<div class="row">
    <h6>How to Fill Data</h6>
    <div class="col">
        <video src="~/images/howto.mp4" style="width:100%" controls></video>
    </div>
</div>