@using HRM.Models
@using HRM.Utilities
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> UserManager
@{
 ApplicationUser UserOTP =null;
    if(User!=null)
    UserOTP = UserManager.GetUserAsync(User).GetAwaiter().GetResult(); 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/RT_Extension.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRM.Web.styles.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/tempus-dominus.min.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" asp-append-version="true" />
    <style>
    .modal-dialog.modal-lg
    {
    max-width:850px;
    }
    </style>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@*HR Management*@</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HR System Lahore High Court</a>
                        </li>

                        @if (User!=null && signInManager.IsSignedIn(User) && UserOTP!=null && UserOTP.OTP_Verify)
                        {
                            <li class="nav-item dropdown">
                                @*<a class="nav-link text-dark" >*@
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Personal Detail
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="PersonalDetail" asp-action="Index">View</a>
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="PersonalDetail" asp-action="Edit">Update</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Education
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="Education" asp-action="Index">View All</a>
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="Education" asp-route-type="Before Joining" asp-action="Edit">Add New </a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Appointment
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="Appointment" asp-action="Index">View All</a>
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="Appointment" asp-action="Create">Add New</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Service History
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="ServiceHistory" asp-action="Index">View All</a>
                                    <a class="dropdown-item" asp-area="Employee" asp-controller="ServiceHistory" asp-action="Create">Add New</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="javascript:void(0)" id="preview">Preview</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                    <AuthorizeView>
                        <Authorized>
                            <!-- Show when user log in. -->
                            @*    @if (!this.User.Identity.IsAuthenticated)
                                {
                                <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                <a class="nav-link text-dark" href="#">@User.Identity.Name</a>
                                </li>
                                </ul>
                                }*@
                        </Authorized>
                        <NotAuthorized>
                            @if (!this.User.Identity.IsAuthenticated)
                            {

                            }
                        </NotAuthorized>
                    </AuthorizeView>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>



    </div>

    <footer class="border-top footer text-muted" style="background-color: var(--bs-body-bg);">




        <div class="container">
            <p class="text-danger">
                <span class="text-bold text-xl-start">Note:</span>
                The information provided should be correct in all aspects. In case of any error/omission, strict department proceedings shall be initiated against the concerned.

            </p>
            @*&copy; 2022 - Web Section Lahore High Court, Lahore*@@*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <div class="modal fade bd-example-modal-lg" id="customImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 855px;">
            <div class="modal-content" id="modalContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/images/noImage.png" id="customImageModalImage" style="width:100%" class="img img-thumbnail" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary saveService">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade bd-example-modal-lg" id="dataPreview" tabindex="-1" aria-labelledby="dataPreview" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modalContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="dataPreviewBody">
                    
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary saveService">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @*BS DataPICKER*@
        @*<script src="~/lib/bootstrap-datetimepicker/js/jQuery-provider.js"></script>*@
        @*<script src="~/lib/bootstrap-datetimepicker/js/tempus-dominus.js" ></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


        <script type="text/javascript">
                    $(document).ready(function() {
                    $('.dropdown-toggle').click(function(){
                        $('.dropdown-menu.show').toggleClass('show');
                    $(this).next().toggleClass('show');
               



            });

                     console.log('select tagged');
                    $('select[show]').on('change',function(){
                        console.log('select changed');
                        var id = $(this).attr('id');
                        var show = $(this).attr('show');

                        
                          var SelVal = $( "#"+id+" option:selected" ).val();
                          var SelText = $( "#"+id+" option:selected" ).text();
                          if(SelVal.toUpperCase().includes('OTHER') || SelText.toUpperCase().includes('OTHER'))
                          {
                            $("#"+show).show();
                          }else
                          {
                                $("#"+show).hide();
                          }
                    });
            
                      $('#preview').click(function ()
                    {
                        console.log('previewing..');

                                $.ajax({
                            url: "/Employee/PersonalDetail/Preview/",
                            dataType: "html",

                            success: function (data) {
                                        $('#dataPreviewBody').html(data);
                                        $('#dataPreview').modal('show');
                            },
                            error: function (xhr, exception) {
                                var msg = "";
                                if (xhr.status === 0) {
                                    msg = "Not connect.\n Verify Network." + xhr.responseText;
                                } else if (xhr.status == 404) {
                                    msg = "Requested page not found. [404]" + xhr.responseText;
                                } else if (xhr.status == 500) {
                                    msg = "Internal Server Error [500]." +  xhr.responseText;
                                } else if (exception === "parsererror") {
                                    msg = "Requested JSON parse failed.";
                                } else if (exception === "timeout") {
                                    msg = "Time out error." + xhr.responseText;
                                } else if (exception === "abort") {
                                    msg = "Ajax request aborted.";
                                } else {
                                    msg = "Error:" + xhr.status + " " + xhr.responseText;
                                }
                                console.log(msg);
                            }
                        });



                    });
            });

        </script>
 @*       @{
            if (TempData["BSToasts"] != null)
            {
                var t = (List<BSToast>)TempData["BSToasts"];
                foreach (var item in t)
                {
                    @Html.Raw(item.ToString())
                    ;
                }

            }

        }*@
        <script>

        </script>
        @await RenderSectionAsync("Scripts", required: false)
        <script src="~/js/RT_Extension.js" asp-append-version="true"></script>
</body>
</html>
